
#e1{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* border: 1px solid red; */
    height: 200px;
    gap: 15px;
    width: 90%;
    margin-left: 70px;
    display: flex;
 
}
#e1 div{
     /* border: 1px solid red; */
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     width: 20%;
     border-radius: 10px;

}
/* #e1 Image{
    border: 1px solid red;
}
Image{
    border: 1px solid red;
} */