
 #nav{
    border: 1px solid black;
    height: 40px;
    background-color: black;
    color: #938a8a;


 }
 #nav>p{
    /* border: 1px solid red; */
    margin-top: 6px;
    color: #ece6e6;
 }
 #nav>p:hover{
    color: whitesmoke;
   cursor: pointer;
 }

 /* Footer section */
 
 .re1:hover{
    color: #FF0077;
 }
 